@page
@model WebAppDemo.Pages.Classes.ExportModel
@{
    ViewData["Title"] = "Export Classes";
}

<h1>Export Classes</h1>

<p>
    <a asp-page="./Export" class="btn btn-primary">Download CSV</a>
</p>

<a asp-page="./Index">Back to List</a>
