@page
@model WebAppDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="header-image">
    <div class="text-center">
        <h1 class="display-4">Welcome to WebAppDemo</h1>
        <p>Welcome to the WebAppDemo. Below is the list of classes:</p>
    </div>
</div>

@if (Model.Classes.Count == 0)
{
    <p>No classes scheduled.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Class Description</th>
                <th>Units</th>
                <th>Quarter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classItem in Model.Classes)
            {
                <tr>
                    <td>@classItem.ClassName</td>
                    <td>@classItem.ClassDescription</td>
                    <td>@classItem.Units</td>
                    <td>@classItem.Quarter</td>
                </tr>
            }
        </tbody>
    </table>
}
