@page
@model TechnicalOverviewModel
@{
    ViewData["Title"] = "Technical Overview";
}
<main role="main">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's technical overview.</p>
</main>
